.panel {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    background-color: #252526;
}

#preview-container {
    flex: 1;
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 100%;
}
